useDynLib(bisoreg, .registration=TRUE)
exportPattern("^[a-zA-Z]")
import(
    bootstrap,
    R2WinBUGS,
    monreg,
    coda
)
importFrom("grDevices", "gray")
importFrom("graphics", "lines", "plot", "points", "polygon")
importFrom("stats", "dnorm", "fivenum", "loess", "median", "pbeta",
           "predict", "quantile", "rbeta", "rbinom", "rgamma", "rnorm",
           "var")
S3method(as.mcmc, biso)
S3method(fitted, biso)
S3method(pflat, default)
S3method(pflat, biso)
S3method(plot, biso)
S3method(print, biso)
S3method(summary, biso)
